.link {
  text-transform: capitalize;
}
.link:hover {
  text-decoration: underline;
}

.taskTitleLinkClicked {
  opacity: 0.5;
  cursor: not-allowed;
  text-decoration: line-through;
}
.taskTitleLinkClicked:hover {
  text-decoration: line-through;
}
