.blackBinImg {
  opacity: 0.5;
  width: 50%;
  height: 50%;
  margin: 7rem auto 0;
}

.deleteButton {
  position: absolute;
  right: 2.5rem;
  bottom: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 9999px;
  font-size: 3rem;
  line-height: 1;
}
@media (min-width: 56.31125rem) {
  .deleteButton {
    right: 4rem;
    bottom: 1.75rem;
  }
}

.btnGreen {
  background-image: linear-gradient(
    to bottom right,
    var(--jade-400),
    var(--jade-600)
  ) !important;
}
.btnGreen:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--jade-500),
    var(--jade-700)
  ) !important;
}

.btnBlue {
  background-image: linear-gradient(
    to bottom right,
    var(--mariner-400),
    var(--mariner-600)
  ) !important;
}
.btnBlue:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--mariner-500),
    var(--mariner-700)
  ) !important;
}

.btnOrange {
  background-image: linear-gradient(
    to bottom right,
    var(--web-orange-400),
    var(--web-orange-600)
  ) !important;
}
.btnOrange:hover {
  background-image: linear-gradient(
    to bottom right,
    var(--web-orange-500),
    var(--web-orange-700)
  ) !important;
}

.binImg {
  width: 65%;
  height: 65%;
}
