.form {
  position: relative;
  width: 65%;
}

.inputGroup {
  display: flex;
  align-items: flex-end;
  margin-top: 2.5rem;
}

.inputGroupText {
  background: none;
  width: 75%;
  text-transform: capitalize;
  padding: 0.5rem 0.75rem;
  /* outline: 0; */
  outline: 2px solid transparent;
  outline-offset: 2px;
}

.textBlue {
  color: var(--mariner-900);
}

.textOrange {
  color: var(--web-orange-900);
}

.inputGroupBtn {
  position: absolute;
  right: 0;
  height: 100%;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 56.31125rem) {
  .inputGroupBtn {
    width: 20%;
  }
}

.btnGreen {
  background: linear-gradient(
    to bottom right,
    var(--jade-400),
    var(--jade-600)
  ) !important;
}
.btnGreen:hover {
  background: linear-gradient(
    to bottom right,
    var(--jade-500),
    var(--jade-700)
  ) !important;
}

.btnBlue {
  background: linear-gradient(
    to bottom right,
    var(--mariner-400),
    var(--mariner-600)
  ) !important;
}
.btnBlue:hover {
  background: linear-gradient(
    to bottom right,
    var(--mariner-500),
    var(--mariner-700)
  ) !important;
}

.btnOrange {
  background: linear-gradient(
    to bottom right,
    var(--web-orange-400),
    var(--web-orange-600)
  ) !important;
}
.btnOrange:hover {
  background: linear-gradient(
    to bottom right,
    var(--web-orange-500),
    var(--web-orange-700)
  ) !important;
}

.inputGroupImg {
    width: 50%;
    height: 50%;
}

