.itemText {
  text-transform: capitalize;
  cursor: pointer;
}
.itemText:hover {
  text-decoration: underline;
}


.itemClicked {
  text-decoration: line-through;
  opacity: .5;
}
.itemClicked:hover {
  text-decoration: line-through;
}
