.taskTitleInput {
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.taskTitleInputText {
    background: none;
    width: 75%;
    padding: 0.5rem 1rem;
    text-transform: capitalize;
    outline: 2px solid transparent;
    outline-offset: 2px;
    font-size: 1.875rem;
    line-height: 2.25rem;
}

.inputGreen {
    border-bottom: 1px solid var(--jade-500);
}

.inputBlue {
    color: var(--mariner-900);
    border-bottom: 1px solid var(--mariner-500);
}

.inputOrange {
    color: var(--web-orange-900);
    border-bottom: 1px solid var(--web-orange-500);
}

.inputRed {
    color: var(--crimson-900);
    border-bottom: 1px solid var(--crimson-400);
}
